#contacts-list::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #F5F5F5;
	border-radius: 10px;
}

#contacts-list::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#contacts-list::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #FFF;
	background-image: -webkit-gradient(linear,
									   40% 0%,
									   75% 84%,
									   from(#416c9c),
									   to(#196b91),
									   color-stop(.6,#54b2de))
}


#contacts-list .user-item {
  height: 90px;
  border-radius: 10px;
  border: 0.5px solid rgba(137, 137, 137, 0.43);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1vw;
  margin: 22px 1vw;
}
.user-info-name {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.user-info-about {
  color: #636363;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.user-phone {
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.user-mail {
  color: #636363;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
