#header {
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 0 2vw;
  border-bottom: 3px solid rgba(154, 154, 154, 0.09);
}

h2.app-name{
    font-family: Jua;
    
}

#header .settings {
  display: flex;
  flex-direction: row;
}
.filter-icon {
  height: 40px;
  width: 40px;
  padding: 5px;
  border-radius: 5px;
  background: rgba(217, 217, 217, 0.58);
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.13);
  transition: 300ms;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.filter-icon:hover {
  background: rgba(240, 240, 240, 0.664);
  font-size: large;
}
button.add-contact {
  width: 140px;
  height: 40px;
  border-radius: 5px;
  background: #55c875;
  border-width: 0px;
  margin-left: 21px;
  color: #303030;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  transition: 300ms;
}
button.add-contact:hover {
  background: #5fd681;
  color: #202020;
  font-weight: 600;
  font-size: 18;
  cursor: pointer;
}
