@import url(./components/_myself.css);
@import url(./components/_header.css);
@import url(./components/_contact-info.css);
@import url(./components/_contacts-list.css);
@import url(./components/_auth.css);

@font-face {
  font-family: Jua;
  src: url(/fonts/Jua-Regular.ttf);
}

@font-face {
  font-family: Inter;
  src: url(/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
  font-family: Jakarta;
  src: url(/fonts/PlusJakartaSans-VariableFont_wght.ttf);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #fafafa;
  font-family: Inter;
  position: fixed;
}
main {
  padding: 1vh 1vw;
  display: flex;
  flex-direction: row;
}
#my-self {
  width: 19.5vw;
}
#header {
  width: 79.5vw;
}
#content {
  display: flex;
  flex-direction: row;
}
#contacts-list {
  height: 90vh;
  width: 50vw;
  overflow: scroll;
}

#contact-info {
  width: 29.5vw;
}
